@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #090D16;
    color: #F3F4F6;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0D1322;
}
::-webkit-scrollbar-thumb {
  background: #1F2937;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

.glass-panel {
  background: rgba(17, 24, 39, 0.7);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
